.containerNav {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dfd3c3;
    border-bottom: 10px solid rgb(199, 177, 152);
    box-shadow: 0px 5px 15px 1px #8f8c73a3;
}

.homeImg {
    min-width: 40px;
    max-width: 300px;
    margin-left: 5%;
    width: 25%;
    filter: drop-shadow(1px 5px 21px rgba(143, 140, 115, 0.800));
    transition: .3s;
}

.homeImg:hover{
    filter: drop-shadow(1px 5px 5px rgba(143, 140, 115, 1));
}

.homeImg:active {
    transform: scale(.8);
}

.buttonCreate {
    cursor: pointer;
    border-style: none;
    width: 200px;
    height: 35px;
    font-size: 26px;
    color: #496675;
    background-color: transparent;
    border-bottom: 4px solid #c7b198;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 10px 10px -4px rgba(143, 140, 115, 0.639);
    transition: .3s;
}

.buttonCreate:hover {
    border-bottom: 4px solid rgb(255, 101, 80);
}

.buttonCreate:active {
    border-bottom: none;
}