.divPage{
    background-image: url("../../img/dogs_background.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    /* background-attachment: scroll; */ 
}

.divTitle{
    display: inline;
}

.title{
    color: bisque;
    font-size: 100px;
    text-shadow: 0px 7px 5px rgba(143, 140, 115, 0.639);
}

.divButton{
    border-bottom: 10px solid #c7b198;
    box-shadow: 0px 10px 10px -4px rgba(143, 140, 115, 0.639);
    padding: 0px 30px 0px 30px;
    border-radius: 60px;
    background-color: antiquewhite;
    transition: transform 0.4s;
}

.button{
    font-size: 45px;     
}

.divButton:hover{
    transform: translateY(-15px)
}

.divButton:active{
    border: none;
    box-shadow: 0px 10px 10px -4px rgba(143, 140, 115, 0.639);
    padding: 0px 30px 0px 30px;
    border-radius: 60px;
    background-color: antiquewhite;
}

.imgBanner{
    filter: drop-shadow(5px 5px 26px #c7b198);
    /* animation: movimiento 3.5s linear infinite;  */
}

/* @keyframes movimiento{
 
} */

.navLink{
    text-decoration: none;
    color: #496675;
}








