.divAll{
      display: flex;
      justify-content: center;
      align-items: center;
      /* width: 40%; */
}
.buttonsPaginated{
      background-color: transparent;
      border-style: none;
      border-radius: 50px;
      
}
.buttonsNumber{
      font-size: 20px;
      background-color: rgb(199, 177, 152);;
      border-style: none;
      border-radius: 50px;
}
.img{
      /* min-width: 40px; */
      max-width: 40px;
      transition: .3s;
}
.img:hover {
     cursor: pointer;
     transform: translateY(-3px);
filter: drop-shadow(0px 5px 4px #000);
}
.img:active{
      filter: none;
      transform: none;
}
.numberFocus{
      background-color: rgb(255, 128, 0);
}
