.containerSearch {
    margin-right: 2%;
    display: flex;
    align-items: center;
}

.searchInPut {
    border-style: none;
    height: 35px;
    font-size: 20px;
    background-color: transparent;
    border-bottom: 4px solid #c7b198;
    border-radius: 20px 0px 20px 20px;
    box-shadow: 0px 10px 10px -4px rgba(143, 140, 115, 0.639);
    transition: .5s;
}

.searchInPut:hover {
    border-bottom: 4px solid rgb(255, 101, 80);
}

.buttonSearch {
    cursor: pointer;
    border-style: none;
    /* width: 75px; */
    height: 40px;
    font-size: 26px;
    background-color: transparent;
    border-bottom: 4px solid #c7b198;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 10px -4px rgba(143, 140, 115, 0.639);
    transition: .3s ;
}
.buttonSearch:hover {
    border-bottom: 4px solid rgb(255, 101, 80);
    transform: scale(1.1);
}
.buttonSearch:active {
    border-bottom: 4px solid rgb(255, 101, 80);
    transform: none;
}